.marketing .col-lg-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.cover-container {
  max-width: 42em;
}

.gradient-background-2 {
  background: linear-gradient(-45deg, #073357, #197cce, #89c2d9, #7acfdb);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}

.subrayado {
  width: 900px;
  height: 10px;
  border-radius: 25px;
  animation-timing-function: steps(10, end);
}
/* Custom animation class that only contains the animation properties needed */

/* Gradient background animation */
.gradient-background {
  background: linear-gradient(
    -45deg,
    #020e18,
    #073357,
    #197cce,
    #89c2d9,
    #7acfdb,
    #cfebf0,
    #f4ede3,
    #cfebf0,
    #7acfdb,
    #89c2d9,
    #197cce,
    #073357,
    #020e18
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Set the initial opacity to 0 for the animated text */
#animated-text {
  opacity: 0;
}

.skill-row{
    opacity: 0;
}

/* Particles */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */


#circulo-giratorio {
  width: 100vw;
  height: 100vh;
}

.st0,
.st1,
.st2,
.st3 {
  fill: none;
  stroke-width: 42;
  stroke-miterlimit: 10;
}

.st0 {
  stroke-dasharray: 12.1947, 12.1947, 12.1947, 12.1947, 12.1947, 12.1947;
}

.st1 {
  stroke-dasharray: 50, 90, 200, 30, 40, 0;
}

.st2 {
  stroke-linecap: square;
  stroke-dasharray: 120, 20, 110, 20, 140;
}

.st3 {
  stroke-width: 16;
  stroke-linecap: square;
}